<!DOCTYPE html>
<html>
    <head>
        <title>Podcast Listening Prediction</title>
        <link rel="'stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Podcast Listening Prediction</h1>

        <p>
            Welcome to the application that predicts how long a listener will spend time listening to a podcast.<br><br>
            Please click on the button to begin!
        </p>
        <a href="predict.html" target="_blank">
            <button style="background-color: blue; color: white;">Predict Listening Time</button>
        </a>
    </body>
</html>